// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  padding-top: 55px;
}


.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;

  .navbar-toggler {
    display: none;
  }

  .logo {
    margin-right: 30px;
    flex-shrink: 0;
  }

  &__signin {
    display: flex;

    .btn {
      margin-left: 15px;
    }
  }
}
