// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element

}

.btn-secondary {
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-link {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.btn-tags {
  border-color: #D4D4D4;
  color: #327EE2;
  min-width: 122px;
  max-width: 122px;
  flex-basis: 122px;
  font-size: 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  .close {
    display: none;
    margin-left: auto;
  }

  &:hover,
  &:focus {
    color: darken(#327EE2, 15%);
  }

  &.active {
    background-color: #327EE2;
    border-color: #327EE2;
    color: #fff;
    text-align: left;

    .close {
      display: flex;
      opacity: 1;

      > span {

        &:before,
        &:after {
          background: #fff;
        }
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
