// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #6D953F;
  color: #fff;
  padding-top: 80px;
}

.footer-top {
  margin-bottom: 100px;
}
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}

.nav-footer {
  .nav-link {
    padding-left: 0;
    color: #ffffffb3;
    font-size: 18px;
  }
}

.footer-nav {
  margin-right: 110px;

  &__part {

    &:not(:first-child) {
      margin-left: 150px;
    }
  }
  &__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 30px
  }
}
