// В этом файле должны быть стили для БЭМ-блока navbar-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.navbar-main {

  $block-name:                &; // #{$block-name}__element

  padding-left: 0;
  padding-right: 0;
  border-top: 1px solid #70707029;
  border-bottom: 1px solid #70707029;

  .navbar-nav {

    justify-content: space-between;

    .nav-item {

      @include media-breakpoint-up(xl) {
        margin-right: 1.5rem;
      }

      .dropdown-toggle {
        &:after {
          content: "";
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 0;
          vertical-align: 0.2rem;
          border-top: 0;
          border-right: 0;
          border-bottom: 2px solid #64AB3C;
          border-left: 2px solid #64AB3C;
          transform: rotate(-45deg);
          margin-left: 8px;
        }
      }

      // &.show {
      //   .dropdown-toggle {
      //     &:after {
      //       transform: rotate(-45deg);
      //     }
      //   }
      // }

      &:first-child {
        .nav-link {
          padding-left: 0;
        }
      }
      &:last-child {
        .nav-link {
          padding-right: 0;
        }
      }

      &.active {
        .nav-link {
          color: #64AB3C;
        }
      }
    }

    .nav-link {
      font-size: 16px;
      font-weight: 700;
      color: #000;

      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }

      &:hover,
      &:focus {
        color: #64AB3C;
      }
    }
  }

}
