// В этом файле должны быть стили для БЭМ-блока b-entry, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.b-entry {

  $block-name:                &; // #{$block-name}__element

  max-width: 540px;
  margin: 40px auto;

  &__header {
    .page-heading-title {
      text-align: center;
      font-weight: 900;
      font-size: 48px;
    }
  }
  &__body {
    padding: 1rem 3rem;

    @include media-breakpoint-down(md) {
      padding: 1rem 0;
    }
  }

  &__footer {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

}
